* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #dbdbdb;
}

#container {
    width: 1020px;
    margin: 0 auto;
    min-height: 400px;

    background: transparent url('header.png') no-repeat center 41px;
}

.navigation {
    width: 942px;
    height: 78px;
    margin: 0 auto;

    background: transparent url('navigation.png') no-repeat;
}

#logo {
    margin-top: 85px;
    margin-left: 140px;
}

#page-content {
    width: 992px;
    margin: 0 auto;
    margin-top: 100px;
}

#page-content .top {
    width: 992px;
    height: 10px;
    background: url('content_top.png') no-repeat;
}

#page-content .middle {
    width: 992px;
    min-height: 600px;
    background: url('content_middle.png') repeat-y;
}

#page-content .bottom {
    width: 992px;
    height: 10px;
    background: url('content_bottom.png') no-repeat;
}

#sidebar-left {
    width: 260px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

#sidebar-right {
    width: 260px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}

#sidebar-left .box, #sidebar-right .box {
    width: 255px;
    margin: 0 auto;
}

#sidebar-left .box .box-title, #sidebar-right .box .box-title {
    position: relative;
    z-index: 5;
    height: 49px;
    background: url('box_header.png') left center no-repeat;
    color: #4ca8a8;
    font-family: 'Tahoma';
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    line-height: 49px;
    text-shadow: rgba(0, 0, 0, 0.35) 0px -1px 1px;
}

#sidebar-left .box .box-middle, #sidebar-right .box .box-middle {
    position: relative;
    z-index: 3;
    background: url('box_middle.png') left top repeat-y;
    min-height: 100px;
    margin-top: -2px;
    margin-left: -2px;
}

#sidebar-left .box .box-bottom, #sidebar-right .box .box-bottom {
    position: relative;
    z-index: 0;
    height: 20px;
    background: url('box_bottom.png') left top repeat-y;
    margin-left: -2px;
}

#sidebar-middle {
    margin-left: 28px;
    float: left;
    width: 368px;
    margin-top: 10px;
}

#sidebar-middle .box-top {
    width: 368px;
    height: 21px;
    background: url('main_top.png') left top no-repeat;
}

#sidebar-middle .box-middle {
    width: 358px;
    height: 535px;
    background: url('main_middle.png') left top repeat-y;
    color: #927e6c;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
}

#sidebar-middle .box-bottom {
    width: 368px;
    height: 21px;
    background: url('main_bottom.png') left top no-repeat;
}

.copyright {
    text-align: center;
    font-size: 11px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #121212;
    font-family: Arial, Helvetica, sans-serif;
}

.copyright a {
    text-decoration: none;
    color: #223b51;
}

.copyright a:hover {
    text-decoration: underline;
}